MQTT_BROKER=tcp://localhost:1883
MQTT_CLIENT_ID=iot-shadow-service
REDIS_ADDR=localhost:6379
REDIS_PASS=
API_PORT=:8080

PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DB=iot_shadow
PG_SSLMODE=disable
